In [76]:
import pandas as pd
import numpy as np
import plotly.express as px
from pandas_profiling import ProfileReport

In [77]:
df = pd.read_csv('Datasets/Focos_2019-01-01_2019-12-31.csv', usecols=['datahora','estado','municipio','bioma','diasemchuva','precipitacao','riscofogo','latitude','longitude','frp'])
#df = pd.read_csv('C:Datasets/Focos_2019-01-01_2019-12-31.csv', usecols=['datahora','estado','municipio','bioma','diasemchuva','precipitacao','riscofogo','latitude','longitude','frp'])
df

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
0,2019/10/05 16:00:00,CEARA,LAVRAS DA MANGABEIRA,Caatinga,10,0.0,1.0,-6.689,-38.924,64.8
1,2019/10/05 16:00:00,CEARA,LAVRAS DA MANGABEIRA,Caatinga,11,0.0,1.0,-6.682,-38.947,10.6
2,2019/10/05 16:00:00,CEARA,LAVRAS DA MANGABEIRA,Caatinga,11,0.0,1.0,-6.681,-38.936,175.3
3,2019/10/06 16:45:00,PERNAMBUCO,ARARIPINA,Caatinga,102,0.0,1.0,-7.393,-40.405,18.2
4,2019/10/07 17:25:00,MATO GROSSO,IPIRANGA DO NORTE,Amazonia,2,8.0,0.1,-11.946,-56.151,9.6
...,...,...,...,...,...,...,...,...,...,...
197627,2019/10/03 17:50:00,RONDONIA,ALTA FLORESTA D'OESTE,Amazonia,0,7.5,0.1,-12.436,-62.006,12.1
197628,2019/10/03 17:50:00,RONDONIA,COSTA MARQUES,Amazonia,0,13.6,0.0,-12.410,-63.960,13.9
197629,2019/10/03 17:50:00,RONDONIA,COSTA MARQUES,Amazonia,0,5.8,0.1,-12.350,-64.329,27.8
197630,2019/10/03 17:50:00,RONDONIA,ALTA FLORESTA D'OESTE,Amazonia,0,6.9,0.0,-12.312,-62.040,9.0
197631,2019/10/03 17:50:00,RONDONIA,ALTA FLORESTA D'OESTE,Amazonia,0,6.5,0.0,-12.311,-62.031,9.6

In [78]:
df.shape

(197632, 10)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197632 entries, 0 to 197631
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datahora      197632 non-null  object
 1   estado        197632 non-null  object
 2   municipio     197632 non-null  object
 3   bioma         197632 non-null  object
 4   diasemchuva   197632 non-null  int64
 5   precipitacao  197632 non-null  float64
 6   riscofogo     197632 non-null  float64
 7   latitude      197632 non-null  float64
 8   longitude     197632 non-null  float64
 9   frp           197632 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 15.1+ MB

In [80]:
df[df['riscofogo'].isna()]

Empty DataFrame
Columns: [datahora, estado, municipio, bioma, diasemchuva, precipitacao, riscofogo, latitude, longitude, frp]
Index: []

In [81]:
df.dropna(subset=['riscofogo'], inplace=True)

In [82]:
df[df['frp'].isna()]

Empty DataFrame
Columns: [datahora, estado, municipio, bioma, diasemchuva, precipitacao, riscofogo, latitude, longitude, frp]
Index: []

In [83]:
indexNames = df[(df['riscofogo'] == -999)].index
df.drop(indexNames, inplace=True)

In [84]:
df[(df['diasemchuva'] == -999)]

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
115,2019/01/27 16:20:00,MARANHAO,ARAIOSES,Caatinga,-999,0.9,0.0,-2.965,-41.933,12.4
116,2019/01/27 16:20:00,MARANHAO,AGUA DOCE DO MARANHAO,Cerrado,-999,0.6,0.0,-2.867,-42.145,16.0
327,2019/11/09 16:35:00,MARANHAO,ROSARIO,Amazonia,-999,1.1,0.6,-2.881,-44.205,19.9
333,2019/11/09 16:35:00,MARANHAO,CURURUPU,Amazonia,-999,0.0,1.0,-1.862,-44.808,106.0
568,2019/01/29 16:10:00,RIO GRANDE DO NORTE,AREIA BRANCA,Caatinga,-999,1.0,0.9,-4.949,-36.992,7.8
...,...,...,...,...,...,...,...,...,...,...
196870,2019/01/11 16:15:00,BAHIA,BELMONTE,Mata Atlantica,-999,0.3,1.0,-15.783,-38.905,14.7
196902,2019/03/18 16:05:00,BAHIA,BELMONTE,Mata Atlantica,-999,0.0,0.9,-16.004,-38.998,19.2
196930,2019/04/03 16:05:00,BAHIA,CANAVIEIRAS,Mata Atlantica,-999,0.0,0.2,-15.775,-38.984,8.0
196931,2019/04/03 16:05:00,BAHIA,CANAVIEIRAS,Mata Atlantica,-999,0.0,0.2,-15.776,-38.996,5.9
196932,2019/04/03 16:05:00,BAHIA,BELMONTE,Mata Atlantica,-999,0.0,0.4,-16.017,-38.981,7.3

In [85]:
df.describe()

,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
count,196643.000000,196643.000000,196643.000000,196643.000000,196643.000000,196643.000000
mean,12.780928,0.689808,0.747275,-10.665689,-52.223465,62.400879
std,90.615881,2.899434,0.345354,6.543092,7.712964,134.954668
min,-999.000000,0.000000,0.000000,-33.709000,-73.650000,0.000000
25%,3.000000,0.000000,0.500000,-14.394000,-57.337000,15.500000
50%,9.000000,0.000000,1.000000,-9.574000,-51.400000,29.000000
75%,24.000000,0.000000,1.000000,-6.372000,-46.127500,59.900000
max,120.000000,120.900000,1.000000,5.148000,-34.816000,6980.100000

In [86]:
medianaDiaSemChuva = df[df['diasemchuva'] != -999]['diasemchuva'].median()

In [87]:
df['diasemchuva'] = df['diasemchuva'].replace(-999,medianaDiaSemChuva)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196643 entries, 0 to 197631
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datahora      196643 non-null  object
 1   estado        196643 non-null  object
 2   municipio     196643 non-null  object
 3   bioma         196643 non-null  object
 4   diasemchuva   196643 non-null  int64
 5   precipitacao  196643 non-null  float64
 6   riscofogo     196643 non-null  float64
 7   latitude      196643 non-null  float64
 8   longitude     196643 non-null  float64
 9   frp           196643 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 16.5+ MB

In [89]:
df['datahora'] = pd.to_datetime(df['datahora'], format="%Y/%m/%d %H:%M:%S")

In [90]:
medianFRP = df[~df['frp'].isna()]['frp'].median()

In [91]:
df['frp'] = df['frp'].replace(np.nan,medianFRP)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196643 entries, 0 to 197631
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datahora      196643 non-null  datetime64[ns]
 1   estado        196643 non-null  object
 2   municipio     196643 non-null  object
 3   bioma         196643 non-null  object
 4   diasemchuva   196643 non-null  int64
 5   precipitacao  196643 non-null  float64
 6   riscofogo     196643 non-null  float64
 7   latitude      196643 non-null  float64
 8   longitude     196643 non-null  float64
 9   frp           196643 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 16.5+ MB

In [93]:
df_agrupado = df.groupby(['datahora','estado','municipio']).agg({    
    'bioma':'first',
    'diasemchuva':np.median,
    'precipitacao':np.median,
    'riscofogo':np.median,
    'latitude':'first',
    'longitude':'first',
    'frp':np.median
}).reset_index()
df_agrupado.head(50)

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
0,2019-01-01 15:40:00,ALAGOAS,JEQUIA DA PRAIA,Mata Atlantica,9.0,0.00,1.00,-9.995,-36.057,19.00
1,2019-01-01 15:40:00,BAHIA,ITAPICURU,Caatinga,2.5,0.00,1.00,-11.075,-38.225,122.20
2,2019-01-01 15:45:00,CEARA,GRANJA,Caatinga,0.0,0.20,0.20,-3.054,-40.742,32.20
3,2019-01-01 15:45:00,CEARA,MOMBACA,Caatinga,8.0,0.00,0.90,-5.772,-39.986,57.15
4,2019-01-01 15:45:00,CEARA,TAUA,Caatinga,8.0,0.00,0.90,-5.776,-40.013,56.90
5,2019-01-01 15:45:00,PARAIBA,ALHANDRA,Mata Atlantica,9.0,0.00,0.95,-7.280,-34.932,22.50
6,2019-01-01 15:45:00,PERNAMBUCO,SOLIDAO,Caatinga,7.0,0.00,1.00,-7.631,-37.622,69.80
7,2019-01-01 17:15:00,MATO GROSSO DO SUL,ANGELICA,Mata Atlantica,0.0,3.20,1.00,-21.996,-53.856,13.80
8,2019-01-01 17:15:00,MATO GROSSO DO SUL,BATAYPORA,Mata Atlantica,1.0,0.00,1.00,-22.548,-53.140,10.70
9,2019-01-01 17:15:00,MATO GROSSO DO SUL,IVINHEMA,Mata Atlantica,0.0,1.10,1.00,-22.363,-54.056,13.90
10,2019-01-01 17:15:00,MATO GROSSO DO SUL,NAVIRAI,Mata Atlantica,1.0,0.60,0.40,-23.016,-53.993,7.60
11,2019-01-01 17:15:00,MATO GROSSO DO SUL,NOVA ANDRADINA,Cerrado,1.0,1.30,1.00,-22.056,-53.297,12.20
12,2019-01-01 17:15:00,MATO GROSSO DO SUL,RIO BRILHANTE,Mata Atlantica,0.0,2.45,1.00,-21.873,-53.959,14.95
13,2019-01-01 17:15:00,PARANA,CATANDUVAS,Mata Atlantica,0.0,0.30,0.50,-25.185,-53.217,6.20
14,2019-01-01 17:15:00,PARANA,CORBELIA,Mata Atlantica,0.0,0.10,0.80,-24.815,-53.334,12.70
15,2019-01-01 17:15:00,PARANA,DOURADINA,Mata Atlantica,2.0,0.00,0.80,-23.270,-53.300,11.00
16,2019-01-01 17:15:00,PARANA,GOIOERE,Mata Atlantica,0.0,0.00,1.00,-24.223,-53.168,13.40
17,2019-01-01 17:15:00,PARANA,ITAGUAJE,Mata Atlantica,2.0,0.10,1.00,-22.632,-51.988,11.30
18,2019-01-01 17:15:00,PARANA,ITAMBE,Mata Atlantica,0.0,0.00,1.00,-23.717,-52.056,13.20
19,2019-01-01 17:15:00,PARANA,LOBATO,Mata Atlantica,2.0,0.00,1.00,-22.999,-51.919,7.20
20,2019-01-01 17:15:00,PARANA,MARILUZ,Mata Atlantica,2.0,0.00,1.00,-24.017,-53.261,7.70
21,2019-01-01 17:15:00,PARANA,PORECATU,Mata Atlantica,5.0,0.40,1.00,-22.755,-51.461,16.90
22,2019-01-01 17:15:00,PARANA,QUINTA DO SOL,Mata Atlantica,0.0,0.00,1.00,-23.772,-52.050,11.40
23,2019-01-01 17:15:00,PARANA,SAO MANOEL DO PARANA,Mata Atlantica,2.0,0.00,1.00,-23.379,-52.580,15.10
24,2019-01-01 17:15:00,PARANA,TIBAGI,Mata Atlantica,0.0,0.00,0.70,-24.712,-50.416,17.80
25,2019-01-01 17:15:00,PARANA,UMUARAMA,Mata Atlantica,2.0,0.00,1.00,-23.892,-53.227,4.80
26,2019-01-01 17:15:00,RIO GRANDE DO SUL,BROCHIER,Mata Atlantica,7.0,0.00,0.10,-29.527,-51.629,6.80
27,2019-01-01 17:15:00,RIO GRANDE DO SUL,MACAMBARA,Pampa,0.0,10.80,0.00,-28.989,-55.774,12.90
28,2019-01-01 17:15:00,RIO GRANDE DO SUL,SANTO ANTONIO DAS MISSOES,Pampa,4.0,20.20,0.00,-28.682,-55.597,18.70
29,2019-01-01 17:15:00,RIO GRANDE DO SUL,SAO LUIZ GONZAGA,Pampa,4.0,8.90,0.10,-28.579,-54.884,16.50
30,2019-01-01 17:15:00,RIO GRANDE DO SUL,TAPERA,Mata Atlantica,0.0,0.30,0.00,-28.632,-52.805,7.90
31,2019-01-01 17:15:00,SANTA CATARINA,CANOINHAS,Mata Atlantica,0.0,0.00,0.70,-26.119,-50.388,21.70
32,2019-01-01 17:15:00,SANTA CATARINA,CURITIBANOS,Mata Atlantica,2.0,0.00,0.60,-27.124,-50.633,7.50
33,2019-01-01 17:15:00,SAO PAULO,PIRAPOZINHO,Mata Atlantica,1.0,2.40,1.00,-22.593,-51.604,15.10
34,2019-01-01 17:20:00,GOIAS,MINEIROS,Cerrado,0.0,2.70,0.00,-17.968,-53.052,10.90
35,2019-01-01 17:20:00,GOIAS,TURVELANDIA,Cerrado,0.0,1.10,0.30,-17.808,-50.289,14.40
36,2019-01-01 17:20:00,MATO GROSSO,APIACAS,Amazonia,1.0,7.35,0.05,-9.576,-57.400,10.60
37,2019-01-01 17:20:00,MATO GROSSO,ITIQUIRA,Cerrado,0.5,0.10,0.75,-17.078,-54.145,10.00
38,2019-01-01 17:20:00,MATO GROSSO,POXOREU,Cerrado,0.0,14.40,0.00,-15.755,-54.601,5.00
39,2019-01-01 17:20:00,MATO GROSSO,RONDONOPOLIS,Cerrado,0.0,4.50,0.00,-16.755,-54.862,10.50
40,2019-01-01 17:20:00,MATO GROSSO DO SUL,BELA VISTA,Cerrado,0.0,4.00,0.20,-22.100,-56.693,13.10
41,2019-01-01 17:20:00,MATO GROSSO DO SUL,NOVA ALVORADA DO SUL,Cerrado,0.0,2.45,0.65,-21.501,-54.534,9.75
42,2019-01-01 17:20:00,MATO GROSSO DO SUL,RIBAS DO RIO PARDO,Cerrado,0.0,10.80,0.10,-20.816,-53.555,5.10
43,2019-01-01 17:20:00,MATO GROSSO DO SUL,RIO BRILHANTE,Mata Atlantica,0.0,1.40,1.00,-21.791,-54.101,10.50
44,2019-01-01 17:20:00,MINAS GERAIS,SANTA VITORIA,Cerrado,0.0,0.20,0.10,-18.739,-50.084,16.80
45,2019-01-01 17:25:00,AMAZONAS,MARAA,Amazonia,3.0,0.30,0.10,-2.002,-65.223,28.10
46,2019-01-01 17:25:00,AMAZONAS,PRESIDENTE FIGUEIREDO,Amazonia,4.0,0.30,0.10,-1.512,-60.162,13.45
47,2019-01-01 17:25:00,PARA,MONTE ALEGRE,Amazonia,1.0,2.70,0.10,-2.123,-54.302,12.90
48,2019-01-01 17:25:00,PARA,OBIDOS,Amazonia,0.0,0.70,0.00,-1.564,-55.581,114.80
49,2019-01-01 17:25:00,RORAIMA,AMAJARI,Amazonia,10.5,0.00,1.00,3.831,-61.015,40.50

In [94]:
df_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datahora      53284 non-null  datetime64[ns]
 1   estado        53284 non-null  object
 2   municipio     53284 non-null  object
 3   bioma         53284 non-null  object
 4   diasemchuva   53284 non-null  float64
 5   precipitacao  53284 non-null  float64
 6   riscofogo     53284 non-null  float64
 7   latitude      53284 non-null  float64
 8   longitude     53284 non-null  float64
 9   frp           53284 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 4.1+ MB

In [95]:
df_agrupado.describe()

,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
count,53284.000000,53284.000000,53284.000000,53284.000000,53284.000000,53284.000000
mean,18.511514,0.847861,0.715606,-11.778536,-49.283404,35.929194
std,26.275322,3.221422,0.362168,7.377275,7.144209,47.594631
min,0.000000,0.000000,0.000000,-33.709000,-73.624000,0.000000
25%,3.000000,0.000000,0.400000,-16.614000,-53.664000,13.500000
50%,7.000000,0.000000,0.950000,-10.686000,-48.263000,22.900000
75%,21.000000,0.100000,1.000000,-6.212000,-43.975750,41.300000
max,120.000000,70.600000,1.000000,5.148000,-34.816000,3566.900000

In [96]:
df_agrupado

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
0,2019-01-01 15:40:00,ALAGOAS,JEQUIA DA PRAIA,Mata Atlantica,9.0,0.0,1.00,-9.995,-36.057,19.00
1,2019-01-01 15:40:00,BAHIA,ITAPICURU,Caatinga,2.5,0.0,1.00,-11.075,-38.225,122.20
2,2019-01-01 15:45:00,CEARA,GRANJA,Caatinga,0.0,0.2,0.20,-3.054,-40.742,32.20
3,2019-01-01 15:45:00,CEARA,MOMBACA,Caatinga,8.0,0.0,0.90,-5.772,-39.986,57.15
4,2019-01-01 15:45:00,CEARA,TAUA,Caatinga,8.0,0.0,0.90,-5.776,-40.013,56.90
...,...,...,...,...,...,...,...,...,...,...
53279,2019-12-31 17:45:00,AMAZONAS,NOVO ARIPUANA,Amazonia,0.0,0.7,0.00,-7.654,-61.214,10.60
53280,2019-12-31 17:45:00,MATO GROSSO,CACERES,Pantanal,0.0,0.7,0.30,-17.180,-58.360,12.50
53281,2019-12-31 17:45:00,MATO GROSSO,POCONE,Pantanal,0.0,1.6,0.10,-17.506,-57.399,19.20
53282,2019-12-31 17:45:00,RONDONIA,PORTO VELHO,Amazonia,2.0,0.1,0.00,-9.576,-64.703,14.60
53283,2019-12-31 17:50:00,RORAIMA,PACARAIMA,Amazonia,3.5,0.0,0.65,4.192,-60.556,13.25

In [97]:
# Normalização por Min-Max no intervalo [1,10]
df_agrupado['frp_norm'] = round((((df_agrupado['frp'] - df_agrupado['frp'].min())/(df_agrupado['frp'].max()-df_agrupado['frp'].min())) * 9) + 1, 2)

In [98]:
df_agrupado

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,frp_norm
0,2019-01-01 15:40:00,ALAGOAS,JEQUIA DA PRAIA,Mata Atlantica,9.0,0.0,1.00,-9.995,-36.057,19.00,1.05
1,2019-01-01 15:40:00,BAHIA,ITAPICURU,Caatinga,2.5,0.0,1.00,-11.075,-38.225,122.20,1.31
2,2019-01-01 15:45:00,CEARA,GRANJA,Caatinga,0.0,0.2,0.20,-3.054,-40.742,32.20,1.08
3,2019-01-01 15:45:00,CEARA,MOMBACA,Caatinga,8.0,0.0,0.90,-5.772,-39.986,57.15,1.14
4,2019-01-01 15:45:00,CEARA,TAUA,Caatinga,8.0,0.0,0.90,-5.776,-40.013,56.90,1.14
...,...,...,...,...,...,...,...,...,...,...,...
53279,2019-12-31 17:45:00,AMAZONAS,NOVO ARIPUANA,Amazonia,0.0,0.7,0.00,-7.654,-61.214,10.60,1.03
53280,2019-12-31 17:45:00,MATO GROSSO,CACERES,Pantanal,0.0,0.7,0.30,-17.180,-58.360,12.50,1.03
53281,2019-12-31 17:45:00,MATO GROSSO,POCONE,Pantanal,0.0,1.6,0.10,-17.506,-57.399,19.20,1.05
53282,2019-12-31 17:45:00,RONDONIA,PORTO VELHO,Amazonia,2.0,0.1,0.00,-9.576,-64.703,14.60,1.04
53283,2019-12-31 17:50:00,RORAIMA,PACARAIMA,Amazonia,3.5,0.0,0.65,4.192,-60.556,13.25,1.03

In [99]:
df_agrupado.describe()

,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,frp_norm
count,53284.000000,53284.000000,53284.000000,53284.000000,53284.000000,53284.000000,53284.000000
mean,18.511514,0.847861,0.715606,-11.778536,-49.283404,35.929194,1.090644
std,26.275322,3.221422,0.362168,7.377275,7.144209,47.594631,0.120124
min,0.000000,0.000000,0.000000,-33.709000,-73.624000,0.000000,1.000000
25%,3.000000,0.000000,0.400000,-16.614000,-53.664000,13.500000,1.030000
50%,7.000000,0.000000,0.950000,-10.686000,-48.263000,22.900000,1.060000
75%,21.000000,0.100000,1.000000,-6.212000,-43.975750,41.300000,1.100000
max,120.000000,70.600000,1.000000,5.148000,-34.816000,3566.900000,10.000000

In [100]:
#relatorio_completo = ProfileReport(df_agrupado, title='Relatorio Completo')
#relatorio_completo.to_file('relatorio_completo.html')

In [101]:
df_agrupado_frp_ate_500 = df_agrupado[df_agrupado['frp'] <= 500].reset_index(drop=True)

In [102]:
df_agrupado_frp_ate_500

,datahora,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,frp_norm
0,2019-01-01 15:40:00,ALAGOAS,JEQUIA DA PRAIA,Mata Atlantica,9.0,0.0,1.00,-9.995,-36.057,19.00,1.05
1,2019-01-01 15:40:00,BAHIA,ITAPICURU,Caatinga,2.5,0.0,1.00,-11.075,-38.225,122.20,1.31
2,2019-01-01 15:45:00,CEARA,GRANJA,Caatinga,0.0,0.2,0.20,-3.054,-40.742,32.20,1.08
3,2019-01-01 15:45:00,CEARA,MOMBACA,Caatinga,8.0,0.0,0.90,-5.772,-39.986,57.15,1.14
4,2019-01-01 15:45:00,CEARA,TAUA,Caatinga,8.0,0.0,0.90,-5.776,-40.013,56.90,1.14
...,...,...,...,...,...,...,...,...,...,...,...
53226,2019-12-31 17:45:00,AMAZONAS,NOVO ARIPUANA,Amazonia,0.0,0.7,0.00,-7.654,-61.214,10.60,1.03
53227,2019-12-31 17:45:00,MATO GROSSO,CACERES,Pantanal,0.0,0.7,0.30,-17.180,-58.360,12.50,1.03
53228,2019-12-31 17:45:00,MATO GROSSO,POCONE,Pantanal,0.0,1.6,0.10,-17.506,-57.399,19.20,1.05
53229,2019-12-31 17:45:00,RONDONIA,PORTO VELHO,Amazonia,2.0,0.1,0.00,-9.576,-64.703,14.60,1.04
53230,2019-12-31 17:50:00,RORAIMA,PACARAIMA,Amazonia,3.5,0.0,0.65,4.192,-60.556,13.25,1.03

In [103]:
df_agrupado_frp_ate_500.corr()

,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,frp_norm
diasemchuva,1.000000,-0.146299,0.439128,0.115586,0.293510,0.141026,0.141112
precipitacao,-0.146299,1.000000,-0.409468,0.047146,-0.138839,-0.049427,-0.049451
riscofogo,0.439128,-0.409468,1.000000,-0.025899,0.389091,0.176456,0.176444
latitude,0.115586,0.047146,-0.025899,1.000000,0.051460,0.063441,0.063530
longitude,0.293510,-0.138839,0.389091,0.051460,1.000000,0.044141,0.044144
frp,0.141026,-0.049427,0.176456,0.063441,0.044141,1.000000,0.999578
frp_norm,0.141112,-0.049451,0.176444,0.063530,0.044144,0.999578,1.000000

In [104]:
df_agrupado_frp_ate_500.drop(df_agrupado_frp_ate_500.loc[df_agrupado_frp_ate_500['frp'] == 0].index, inplace=True)

In [105]:
df_agrupado_frp_ate_500[df_agrupado_frp_ate_500['frp'] == 0]

Empty DataFrame
Columns: [datahora, estado, municipio, bioma, diasemchuva, precipitacao, riscofogo, latitude, longitude, frp, frp_norm]
Index: []

In [106]:
df_agrupado_frp_ate_500['frp'].value_counts(ascending=True)

52.35       1
95.35       1
182.40      1
223.65      1
165.15      1
         ...
10.20     172
10.80     173
13.80     176
13.30     177
11.20     179
Name: frp, Length: 4496, dtype: int64

In [107]:
df_agrupado_frp_ate_500.to_csv('clean_df_tableau_500_2019.csv')